:root {
    --text-color: rgb(240, 240, 240);
    --moon-size: 7.5px;
    --green: hsl(101, 70%, 30%);
    --blue: hsl(251, 40%, 50%);
    --dark-green: hsl(101, 70%, 15%);
    --dark-blue: hsl(251, 40%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    height: 4em;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    padding: 0 0.75em;
}

.logo {
    width: fit-content;
    height: fit-content;
    padding: 0.125em 0.25em;
    background-image: linear-gradient(to right, var(--green), var(--blue));
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.logo:hover {
    color: rgba(240, 240, 240, 0.15);
    transition: color 0.2s ease-in-out;
}

.navbar {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    gap: 1.5em;
    padding-right: 1em;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    background-color: rgb(55, 55, 55);
    padding: 0.375em 0.625em;
    border-radius: 20px;
    border: 1px solid rgba(150, 150, 150, 0.2);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

.navbar a:hover {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.2), 0 0 2px var(--dark-green), 0 0 2px var(--dark-blue);
    border: 1px solid rgba(150, 150, 150, 0.3);
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

main {
    width: 100%;
    height: fit-content;
    background-color: rgb(55, 55, 55);
    padding: 3em;
    background-image: linear-gradient(rgba(10, 10, 10, 0.2), rgb(55, 55, 55) 0.5%);
}

.main-container {
    margin: 0 auto;
    width: 1200px;
    height: 1200px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    box-shadow: 0 0 10px 1px rgba(10, 10, 10, 0.1);
}

.section-header {
    color: var(--text-color);
    margin-bottom: 1.125em;
}

.system-container {
    margin: 0 auto;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgb(55, 55, 55), rgb(50, 50, 50) 10%, rgb(45, 45, 45) 40%);
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.5), 0 0 20px rgba(50, 50, 50, 0.5);
}

#sun {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#sun  .body {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: visible;
}

.body#mercury {
    height: var(1.25 * --moon-size);
    width: var(1.25 * --moon-size);
}

.body#venus {
    height: calc(2.75 * var(--moon-size));
    width: calc(2.75 * var(--moon-size));
}

.body#earth {
    height: calc(3.5 * var(--moon-size));
    width: calc(3.5 * var(--moon-size));
    display: flex;
    justify-content: center;
    align-items: center;
}

.body#moon {
    position: absolute;
    height: var(--moon-size);
    width: var(--moon-size);
}

.body#mars {
    height: calc(2 * var(--moon-size));
    width: calc(2 * var(--moon-size));
}

.body#jupiter {
    height: calc(40 / 2 / 4 * var(--moon-size));
    width: calc(40 / 2 / 4 * var(--moon-size));
}

.body#saturn {
    height: calc(34 / 2 / 4 * var(--moon-size));
    width: calc(34 / 2 / 4 * var(--moon-size));
}

.body#uranus {
    height: calc(15 / 2 / 2 * var(--moon-size));
    width: calc(15 / 2 / 2 * var(--moon-size));
}

.body#neptune {
    height: calc(14 / 2 / 2 * var(--moon-size));
    width: calc(14 / 2 / 2 * var(--moon-size));
}

#saturn img {
    overflow: visible;
    transform: rotate(-56.5deg) scaleY(1.53);
    z-index: -1;
}

.body > div.hover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.body#saturn > div.hover-text {
    width: calc(100% + 50%);
}

div.hover-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient()
}

div.hover-text > p {
    color: transparent;
    width: fit-content;
    height: fit-content;
}

div.hover-text:hover > p {
    position: absolute;
    color: black;
    background-color: rgba(128, 128, 128, 0.66);
    padding: 2.5px 5px;
    border-radius: 5px;
    transition-delay: 0.1s
}

#sun > .hover-text > p {
    top: 55px;
}

#mercury > .hover-text > p {
    top: 15px;
}

#venus > .hover-text > p {
    top: 25px;
}

#earth > .hover-text > p {
    top: 30px;
}

#moon > .hover-text > p {
    top: 10px;
}

#mars > .hover-text > p {
    top: 20px;
}

#jupiter > .hover-text > p {
    top: 40px;
}

#saturn > .hover-text > p {
    top: 30px;
}

#uranus > .hover-text > p {
    top: 35px;
}

#neptune > .hover-text > p {
    top: 30px;
}

.no-select {
  -webkit-user-select: none;
  user-select: none;
}

.orbit-planet {
    position: absolute;
    outline: 1px solid rgba(200, 200, 200, 0.25);
    width: 0px;
    height: 0px;
    border-radius: 50%;
}

.orbit-moon {
    position: absolute;
    outline: 1px solid rgba(200, 200, 200, 0.25);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}